@import url('https://fonts.googleapis.com/css2?family=Inter&family=Montserrat:wght@400;600;700&family=Poppins:wght@500;600;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Poppins', sans-serif;
}

/*------------------
    common classes 
-------------------*/
.container{
    width: 1200px;
    margin: 0 auto;
}
.primary-color{
    color:#3A3A3A;
}
.dark-color{
   color:  #000000DE;
   font-size: 24px;
   font-weight: 400;
   padding: 5px 0;
}
.orange-color{
    color: #FB8200;
    font-size: 14px;
}
.orangered-color{
    color: orangered;
}
.gray-color{
    color: #18191F;
    font-size: 28px;
    font-weight: 500;
}
.link-button{
    background-color: #E02C6D;
    text-decoration: none;
    color: #fff;
    padding: 10px 24px;
    border-radius: 30px;
}
/*----------
    header
 -----------*/

header{
    padding: 30px 80px;
}
.navigation{
    display: flex;
    justify-content: space-between;
}
.label{
    font-size: 24px;
    font-weight: 700;
}
.menu-list{
    display: flex;
}
.menu-list li{
    list-style: none;
    margin: 10px;
}
.menu-list li a{
    text-decoration: none;
    font-weight: 600;
}

/* ---------------
    section one 
----------------*/
.top-section{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    margin-bottom: 70px;
}
.welcome-text{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding-left: 20px;
}
.welcome-text h1{
    font-size: 52px;
    font-weight: 700;
}
.welcome-text p{
    font-weight: 600;
    margin-bottom: 20px;
}
.gadget{
    background-image: url('../resources/images/Circle\ design.svg');
    background-repeat: no-repeat;
    background-size: 475px 451px;
    background-position-x: 100px;
    padding-bottom: 35px;
}
.gadget img{
    width: 440px;
    height: 414px;
    position: relative;
    top: 15px;
    left: 120px;
}
.gadget img:hover{
    transform: rotate(45deg) translate(25px, -20px);
    transition: transform 0.2s ease-in;
}
.co-logo{
    border-top: 1px solid;
    border-bottom: 1px solid;
    border-image: linear-gradient(90deg, rgba(192, 204, 218, 0.1) 0%, rgba(192, 204, 218, 0.6) 50.38%, rgba(192, 204, 218, 0.1) 100%);
    border-image-slice: 1;
    margin-bottom: 100px;
}
.company{
    padding: 20px 62px;
    display: flex;
    justify-content: space-between;
}

/* -----------------
    second section 
------------------*/
.sec2-header{
    text-align: center;
    font-size: 28px;
    font-weight: 600;
    margin-bottom: 30px;
}
.top-collections{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    place-items: center;
}
.collection{
    width: 330px;
    height: 476px;
    border-radius: 15px;
    box-shadow: 0px 0px 40px 0px #00000026;
    margin-bottom: 30px;
    padding:  14px 17px 17px 16px;
}
.rating .rating-point{
    color: #5E6366;
    font-size: 16px;
    font-weight: 700;
    display: inline;
    padding-left: 10px;
}
.section-two a{
    text-decoration: none;
    color: #E02C6DDE;
    font-weight: 700;
    display: flex;
    align-items: center;
    position: absolute;
    right: 110px;
}
.section-two .fa-arrow-right{
    padding-left: 7px;
}

/*------------------
    section three
 ------------------*/

 /* .trending-sale{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    margin-top: 50px;
 } */
 /* .trending-sale img{
     width: 60%;

 } */
 .trending{
    display: flex;
    justify-content: center;
    align-items: center;
 }
 .trending{
    background-image: url('../resources/images/Dots.png');
    background-repeat: no-repeat;
    background-size: 10%;
    background-position: right center;
 }
#sale{
    background-image: url('../resources/images/dream-bg.png');
    background-repeat: no-repeat;
    background-size: 7%;
    background-position-x: 17px;
 }
 .section-three .section-title{
    margin: 30px;
    font-size: 28px;
 }
.trend-logo{
     width:2%;
 }
 .trending-left{
    width: 610px;
    height: 260px;
    border-radius: 15px;
    box-shadow: 0px 0px 40px 0px #00000026;
    padding: 30px;
    margin-right: 90px;
 }
 .trending-left .explore-button{
     position: relative;
     top: 12px;
 }
 .explore-button img{
    width: 4%;
    position: relative;
    top: 7px;
    left: 5px; 
 }
.sale-right{
    position: relative;
    left: 100px;
}

/*----------
    footer 
------------*/

footer{
    width: 100%;
    height: 200px;
    background-color: #0A0826;
    margin-top: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.copyright{
    width: 262px;
    height: 100px;
    color: white;
    text-align: center;
}
.copyright h2{
    font-size: 24px;
    font-weight: 700;
}
.copyright p{
    font-size: 14px;
    font-weight: 400;
}
.copyright p:nth-child(2n+1){
    margin-bottom: 11px;
}
.copyright a{
    width: 32px;
    height: 32px;
    color: white;
    padding: 16px;
    background-image: url('../resources/logos/BG.svg');
    background-repeat: no-repeat;
    background-position: center;
}

/*----------------
    responsive 
----------------*/

@media (max-width: 688px){
    .container{
        width: 100%;
    }
    .menu-list{
        display: flex;
        flex-direction: column;
    }
    .top-section{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
    }
    .welcome-text{
        order: 2;
    }
    .welcome-text h1{
        font-size: 30px;
    }
    .gadget img{
        width: 100%;
    }
    .company{
        display: grid;
        grid-template-columns: auto auto auto;
        grid-template-rows: repeat(2,100px);
    }

    .section-two .top-collections{
        grid-template-columns: 1fr;
    }
    .section-three .trending{
        display: flex;
        flex-direction: column;
    }
    .section-three .section-title{
        text-align: center;
        text-decoration: underline;
    }
    .trending .trending-left{
        width: 300px;
        height: 350px;
        margin-left: 80px;
    }
    .sale-right{
        margin-right: 280px;
    }
    .trend-logo{
        width: 8%;
        position: relative;
        top: 5px;
    }
}